body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000000;
}
h1 {
    margin-bottom: 20px;
    color: white;
}

img{
    width: 170px;
    height: 250px;
    border-radius: 100px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.author-button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
}
.author-button:hover {
    background-color: #0056b3;
}
.quote-container {
    margin-top: 20px;
    font-size: 18px;
    color: white;
}